In [1]:
import numpy as np
import pandas as pd

In [2]:
file =pd.read_csv('test_data.csv')

In [3]:
file_manager = file[file["role"]=='manager']

In [4]:
file_manager

,dlg_id,line_n,role,text
1,0,1,manager,Алло здравствуйте
3,0,3,manager,Меня зовут ангелина компания диджитал бизнес з...
5,0,5,manager,Угу ну возможно вы рассмотрите и другие вариан...
8,0,8,manager,Угу а на что вы обращаете внимание при выборе
11,0,11,manager,Что для вас приоритет
...,...,...,...,...
472,5,135,manager,Так дмитрий
473,5,136,manager,Все записала тогда завтра ждите звонка
475,5,138,manager,По поводу виджетов и с ними уже обсудите конкр...
476,5,139,manager,Все я вам высылаю счет и с вами на связи если ...
479,5,142,manager,Ну до свидания хорошего вечера

In [5]:
data_low=file_manager.text.str.lower()

In [6]:
a = data_low[data_low.str.contains((r'здра(?!$)|добрый день(?!$)|доброе утро(?!$)'))==True]

In [7]:
a

1      алло здравствуйте
110    алло здравствуйте
166    алло здравствуйте
Name: text, dtype: object

In [8]:
b = data_low[data_low.str.contains((r'зовут(?!$)'))==True]

In [9]:
b

3      меня зовут ангелина компания диджитал бизнес з...
111    меня зовут ангелина компания диджитал бизнес з...
167    меня зовут ангелина компания диджитал бизнес з...
251    добрый меня максим зовут компания китобизнес у...
Name: text, dtype: object

In [10]:
c = b.to_string()
c = c.split()

In [11]:
ind=0
name = []
for i in c:
    if i == 'зовут':
        if c[ind-1]!='меня':
            name.append(c[ind-1])
        elif c[ind+1]!='меня':
            name.append(c[ind+1])
    ind+=1

In [12]:
name

['ангелина', 'ангелина', 'ангелина', 'максим']

In [13]:
ind=0
company = []
for i in c:
    if i == 'компания':
        company.append(c[ind+1])
    ind+=1

In [14]:
company

['диджитал', 'диджитал', 'диджитал', 'китобизнес']

In [15]:
e = data_low[data_low.str.contains((r'до свид(?!$)|до встр(?!$)|доброго(?!$)'))==True]

In [16]:
e

108                           всего хорошего до свидания
163                                          до свидания
335    во вторник все ну с вами да тогда до вторника ...
479                       ну до свидания хорошего вечера
Name: text, dtype: object

In [17]:
if len(a)!=len(e):
    if len(a)>len(e):
        for i in range(len(e)):
            if not(a.index[i]<b.index[i] and b.index[i]<e.index[i]):
                print("The manager is not greeted in {} dialogue".format(i))
        for i in range(len(e), len(a)):
            print("The manager is not greeted in {} dialogue".format(i))
    else:
        for i in range(len(a)):
            if not(a.index[i]<b.index[i] and b.index[i]<e.index[i]):
                print("The manager is not greeted in {} dialogue".format(i))
        for i in range(len(a), len(e)):
            print("The manager is not greeted in {} dialogue".format(i))

The manager is not greeted in 3 dialogue